@font-face 
{
    font-family: 'Raleway';
    src: url(font/Raleway-VariableFont_wght.ttf);
}
@font-face
{
    font-family: 'Raleway-italic';
    src: url('font/Raleway-Italic-VariableFont_wght.ttf');
}
@font-face
{
    font-family: 'Raleway-Black';
    src: url('font/static/Raleway-Black.ttf');
}
@font-face
{
    font-family: 'Raleway-BlackItalic';
    src: url('font/static/Raleway-BlackItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-Bold';
    src: url('font/static/Raleway-Bold.ttf');
}
@font-face
{
    font-family: 'Raleway-BoldItalic';
    src: url('font/static/Raleway-BoldItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-ExtraBold';
    src: url('font/static/Raleway-ExtraBold.ttf');
}
@font-face
{
    font-family: 'Raleway-ExtraBoldItalic';
    src: url('font/static/Raleway-ExtraBoldItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-ExtraLight';
    src: url('font/static/Raleway-ExtraLight.ttf');
}
@font-face
{
    font-family: 'Raleway-ExtrLightItalic';
    src: url('font/static/Raleway-ExtraLightItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-Italic';
    src: url('font/static/Raleway-Italic.ttf');
}
@font-face
{
    font-family: 'Raleway-Light';
    src: url('font/static/Raleway-Light.ttf');
}
@font-face
{
    font-family: 'Raleway-LightItalic';
    src: url('font/static/Raleway-LightItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-Medium';
    src: url('font/static/Raleway-Medium.ttf');
}
@font-face
{
    font-family: 'Raleway-MediumItalic';
    src: url('font/static/Raleway-MediumItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-Regular';
    src: url('font/static/Raleway-Regular.ttf');
}
@font-face
{
    font-family: 'Raleway-SemiBold';
    src: url('font/static/Raleway-SemiBold.ttf');
}
@font-face
{
    font-family: 'Raleway-SemiBoldItalic';
    src: url('font/static/Raleway-SemiBoldItalic.ttf');
}
@font-face
{
    font-family: 'Raleway-Thin';
    src: url('font/static/Raleway-Thin.ttf');
}
@font-face
{
    font-family: 'Raleway-ThinItalic';
    src: url('font/static/Raleway-ThinItalic.ttf');
}
 /* Général */
 body 
 {
    margin-left: 0;
    width: 100%;
 }

 ul
 {
     list-style: none;
 }

 a
 {
     text-decoration: none;
 }
 
 /* HEADER */

 header
 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding-bottom: 0;
}

#logo:nth-child(1)
{
    order: 1;
}

#nav:nth-child(2)
{
    order: 3;
    white-space: pre-wrap;
}

#inscription:nth-child(3)
{
    order: 2;
}

#logo
{
    height: 100px;
    width: 225px;
    margin: 35px auto 0px 35px;
}

#inscription
{
    font-size: 2.2em;
    font-family: 'Raleway-ExtraBold';
    color: #0065FC;
    margin: 70px 35px auto auto;
}

nav
{
    width: 210%;
    padding-bottom: 0px;
    border-bottom: 5px rgba(221, 221, 221, 0.644) solid;
}

#menu
{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 2.3em;
    font-family: 'Raleway';
}

#menu li 
{
    text-align: center;
    margin: 0;
    width: 50%;
}

#menu li:active
{
    color: #0065FC;
    font-weight: bold;
    border-bottom: 5px #0065FC solid;
}

/* Recherche et Filtre*/

#recherche
{
    width: 200%;
    margin: 300px 35px auto 35px;
}

/* Recherche et filtre */
#recherche 
{
    margin: 300px 0px auto 35px;
}
/* Recherche */
#recherche 
{
    width: 200%;
}
#recherche h1
{
    font-family: 'Raleway-ExtraBold';
    font-size: 3em;
    margin: 0;
}

#recherche h1 + p
{
    font-family: 'Raleway';
    font-size: 2.2em;
}
#fctrecherche
{
    border: 3px #f2f2f2 solid;
    margin: auto 55px auto auto ;
    border-radius: 80px;
}
.maps
{
    padding: 40px 50px 40px 50px;
    font-size: 2.5em;
    background-color: #f2f2f2;
    border-radius: 40px 0px 0px 40px;
}
#ville
{
    border: none;
    font-size: 2em;
    font-family: 'Raleway';
    margin: auto 21.5px auto 35px;
    padding-right: 0px;
}
#ville::placeholder
{
    font-family: 'Raleway-Extrabold';
    color: black;
}
#submit
{
    display: none;
}
button
{
    font-size: 2.2em;
    color: white;
    padding: 40px 50px 40px 50px;
    background-color: #0065FC;
    border-radius: 40px;
}

/* Filtres */

#title-filtres
{
    font-family: 'Raleway-ExtraBold';
    font-size: 3em;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
}
.filtre
{
    display: flex;
    font-size: 2em;
    border: 3px #DEEBFF solid;
    border-radius: 125px;
    margin: 0px 25px 25px 0px;
}
.filtre i
{
    padding: 35px 35px 35px 35px;
    background-color: #DEEBFF;
    border-radius: 555px;
    color: #0065FC;
}
.filtre p
{
    font-family: 'Raleway-ExtraBold';
    margin-right: 25px;
}
.filtre:hover
{
    background-color: #DEEBFF;
    flex-direction: row-reverse;
}

.filtre p:hover
{
    margin: auto 0px auto 25px;
}

#info 
{
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 25px;
    font-size: 2.4em;
}
  
#info i 
{
    color: #0065fc;
    font-size: 0.7em;
    border: 1px #DEEBFF solid;
    border-radius: 35px;
    padding: 5px 11px;
    margin-top: 4px;
    margin-bottom: auto;
}
  
#info p 
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}
  
/* Hébergement */

#Hébergements
{
    display: flex;
    flex-direction: column-reverse;
}

#populaire
{
    background-color: #DEEBFF;
    width: 211%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

#title-most
{
    font-family: 'Raleway-ExtraBold';
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin: auto 35px auto 35px;
}

#title-most h2
{
    margin-right: 150px;
}

#title-most i
{
    margin: auto auto;
    font-size: 1.5em;
}

.vignette-populaire
{
    display: flex;
    background-color: white;
    border: 3px white solid;
    border-radius: 55px;
    margin: 35px;
    padding: 10px;
    
}
.img-populaire
{
    width: 40%;
}

.img-populaire img
{
    width: 450px;
    height: 300px;
    border-radius: 40px 0px 0px 40px;
    margin-right: 0px;
    padding-left: 0px;
}
.txt-populaire
{
    background-color: white;
    width: 60%;
    font-size: 2em;
    padding-left: 35px;
    border-radius: 0px 35px 35px 0px;
}
.txt-populaire h3
{
    font-family: 'Raleway-ExtraBold';
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.txt-populaire
{
    padding-bottom: 20px;
}
.stars i
{
    font-size: 0.8em;
    margin: 0px;
    padding: 0;
    color: #0065FC;
}

/* Hébergements */

#Hébergements
{
    background-color: #DEEBFF;
    width: 211%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

#title-héb
{
    font-family: 'Raleway-ExtraBold';
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin: auto 35px auto 35px;
}

#title-héb h2
{
    margin-right: 150px;
}

.vignette-hebergemnts
{
    display: flex;
    background-color: white;
    border: 3px white solid;
    border-radius: 55px;
    margin: 35px;
    padding: 10px;
    
}
.img-populaire
{
    width: 40%;
}

.img-populaire img
{
    width: 450px;
    height: 300px;
    border-radius: 40px 0px 0px 40px;
    margin-right: 0px;
    padding-left: 0px;
}
.txt-populaire
{
    background-color: white;
    width: 60%;
    font-size: 2em;
    padding-left: 35px;
    border-radius: 0px 35px 35px 0px;
}
.txt-populaire h3
{
    font-family: 'Raleway-ExtraBold';
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.txt-populaire
{
    padding-bottom: 20px;
}
.stars i
{
    font-size: 0.8em;
    margin: 0px;
    padding: 0;
    color: #0065FC;
}
